@font-face {
    font-family: psbetu;
    src: url(../fonts/psbetu.ttf);
}
@font-face {
 

  font-family: zrnic;
    src: url(../fonts/Zrnic.ttf);
}
html{
  scroll-behavior: smooth;
  
  
}
*{

    box-sizing: border-box;
}

body{
  background-color: var(--harmadszin);

}

:root{
  --oldalszin: #f3f3f3 ;
  --masodszin: #a3abdb ;
  --harmadszin: rgba(0, 0, 0, 0.927) ;
  --negyedszin: rgba(40, 40, 40, 0.285) ;
  --otodszin: rgba(51, 51, 51, 0.285);
  --gorgeto1: #3d3d3d ;
  --gorgeto2: #7c7c7c ;
  --gorgeto3: #626262 ;
  --hatter: url('../images/kekhatter.png');
  --hr: rgba(220, 220, 220, 0.404);
  --navburger: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.875)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  --tartalomcol: #0000005c;
  --dropdownhovera: rgb(224, 224, 224);
  --dropdownhover: rgba(50, 50, 50, 0.749);
  --betoltoforgo: #303052;
  --betolto: #f3f3f3;
  --navszin: black;
  --sotetebbbetu: rgb(211, 211, 211);
  --visszaatetejehez: rgba(5, 5, 5, 0.663);
  --visszaatetejehezhover: rgba(83, 83, 83, 0.663);
  --border-radius: 15px;
  --bold-color:#878787;
  --gombhover: black;
  --headerszoveg: clamp(1.1875rem, 1.1512rem + 0.2907vw, 1.5rem);
  --headercim:  clamp(1.625rem, 1.5814rem + 0.3488vw, 2rem);
  --gombszoveg: clamp(1.0625rem, 1.048rem + 0.1163vw, 1.1875rem);
  --szoveg: clamp(1.1875rem, 1.1512rem + 0.2907vw, 1.5rem);
  --navbarszoveg:  clamp(1.1875rem, 1.1657rem + 0.1744vw, 1.375rem);
  --cim: clamp(1.625rem, 1.5814rem + 0.3488vw, 2rem);
  --footerszoveg:  clamp(1.0625rem, 1.0262rem + 0.2907vw, 1.375rem);
  --navbarcim: clamp(1.5625rem, 1.5407rem + 0.1744vw, 1.75rem);
}

.vilagos-tema{
  --sotetebbbetu: rgb(37, 37, 37);
  --oldalszin: rgb(0, 0, 0) !important;
  --masodszin: rgb(54, 54, 54) !important;
  --harmadszin: rgba(228, 228, 228, 0.792) !important;
  --negyedszin: rgba(205, 205, 205, 0.789) !important;
  --otodszin: rgba(229, 229, 229, 0.789) !important;
  --gorgeto1: #ffffff !important;
  --gorgeto2: #7c7c7c !important;
  --gorgeto3: #626262 !important;
  --hatter: url('../images/feherhatter.png');
  --navburger: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.951)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  --hr: rgb(49, 49, 49);
  --tartalomcol: #ffffff5c;
  --dropdownhover: rgb(191, 191, 191);
  --dropdownhovera: rgba(50, 50, 50, 0.749);
  --betoltoforgo: #2f2f2f;
  --betolto: #adadad;
  --navszin: #f3f3f3;
  --visszaatetejehez: rgba(205, 205, 205, 0.789);
  --visszaatetejehezhover: rgba(160, 160, 160, 0.663);
  --bold-color:#393939;
  --gombhover: white;
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  -ms-transition: 0.6s !important;
  -o-transition: 0.6s !important;
}

body{
    margin:0 !important;
    padding:0 !important;
color:var(--oldalszin) !important;
  overflow: hidden;
}
  
#header{
  transition: background-image 0.5s ease-in-out;
  background-image: var(--hatter);
  height: 104vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: background-image 0.5s ease-in-out;
  -moz-transition: background-image 0.5s ease-in-out;
  -ms-transition: background-image 0.5s ease-in-out;
  -o-transition: background-image 0.5s ease-in-out;
}

  
  #image {
    max-width: 105% !important;
    max-height: 105% !important;
    position: absolute;
    top: 47%;
    transition: transform 0.2s ease-out;
    opacity: 0;
    animation: slide-in 2.2s ease-in-out forwards, nagyitas 6s ease-in-out infinite;
    -webkit-animation: slide-in 2.2s ease-in-out forwards, nagyitas 6s ease-in-out infinite;
   
}


#image1 {
    max-width: 100% !important;
    max-height: 100% !important;
    position: absolute;
    top: 45%;
    transition: transform 0.2s ease-out;
    opacity: 0;
    animation: slide-in 2.0s ease-in-out forwards, lebeges 6s ease-in-out infinite;
    -webkit-animation: slide-in 2.0s ease-in-out forwards, lebeges 6s ease-in-out infinite;
}
#valami{
  background-image: url('https://assets.stickpng.com/images/5a4e432a2da5ad73df7efe7a.png');
}
@keyframes nagyitas {
	0% {
    scale: 1.0;
    transform: translatex(0px);
    -webkit-transform: translatex(0px);
    -moz-transform: translatex(0px);
    -ms-transform: translatex(0px);
    -o-transform: translatex(0px);
}
	50% {
  transform: translatex(5px);
  scale: 1.040;
  -webkit-transform: translatex(5px);
  -moz-transform: translatex(5px);
  -ms-transform: translatex(5px);
  -o-transform: translatex(5px);
}
  100%{
    scale: 1.0;
    transform: translatex(0px);
    -webkit-transform: translatex(0px);
    -moz-transform: translatex(0px);
    -ms-transform: translatex(0px);
    -o-transform: translatex(0px);
}
}
@keyframes lebeges {
	0% {
		transform: translatey(0px);
		-webkit-transform: translatey(0px);
		-moz-transform: translatey(0px);
		-ms-transform: translatey(0px);
		-o-transform: translatey(0px);
}
	50% {

		transform: translatey(-15px);
		-webkit-transform: translatey(-15px);
		-moz-transform: translatey(-15px);
		-ms-transform: translatey(-15px);
		-o-transform: translatey(-15px);
}
	100% {
		transform: translatey(0px);
		-webkit-transform: translatey(0px);
		-moz-transform: translatey(0px);
		-ms-transform: translatey(0px);
		-o-transform: translatey(0px);
}
}
  @keyframes attunes {
    0% {

        opacity: 0;
      }
      
      100% {
        opacity: 1;
      }
  }
  @keyframes slide-in {
    0% {
      left: -150px;
      opacity: 0;
    }
    100% {
    margin-left: 30px;
      left: 0;
      opacity: 1;
    }
  }
  nav{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent !important;
    z-index: 666;
  }

  /* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--gorgeto1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gorgeto2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--gorgeto3);
  }
  #tartalom{
    background-color: #f3f3f3;
  }
  #ps1szoveg p{
    font-family: zrnic;
  }
  #ps1szoveg{
    text-align: center;
    margin-top: 30vh;
    font-size: var(--headercim);
    font-weight: 660;
    animation: attunes 1.2s ease-in-out forwards;
    -webkit-animation: attunes 1.2s ease-in-out forwards;
}
@media screen and (max-width: 767px) {
  #ps1szoveg{
    margin-top: 20vh !important;
  }
}
#ps1szoveg span{
    display: inline-block !important;
    font-size: var(--headerszoveg);
    font-weight: 300;
    margin-bottom: 10px;
    font-style: italic;
}
  #gomb{
    z-index: 500;
    transition: 0.4s !important;
    background: linear-gradient(to right, black, rgb(14, 14, 14));
    color:#f3f3f3;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: var(--gombszoveg);
    border:none;
    -webkit-transition: 0.4s !important;
    -moz-transition: 0.4s !important;
    -ms-transition: 0.4s !important;
    -o-transition: 0.4s !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.462);
    animation: attunes 1.4s ease-in-out forwards;
    -webkit-animation: attunes 1.4s ease-in-out forwards;
}
#gomb:hover{
  color: var(--gombhover);
  transition: 0.4s !important;
  background: rgb(117, 117, 117);
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 17.5px;
  padding-right: 17.5px;
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);

}

.navbar-brand{
    font-weight: 700;
    font-size: var(--navbarcim);
    font-family:
     psbetu;
    color:var(--oldalszin)  !important;
    animation: attunes 1s ease-in-out forwards;
    -webkit-animation: attunes 1s ease-in-out forwards;
}
.navbar-brand img{
    margin-right: 5px;
    animation: attunes 1s ease-in-out forwards;
    -webkit-animation: attunes 1s ease-in-out forwards;
}
.navbar-nav{
    float:right !important;
    text-align: right !important;
 
}
#navbarText{
    font-size: var(--navbarszoveg) ;
    font-weight: 600;

}
@media screen and (max-width: 1160px) {
  #gomb{
    font-size: var(--gombszoveg);
  }
  #ps1szoveg span{
    font-size: var(--headerszoveg);
    max-width: 300px;
  }
  #ps1szoveg p{
    font-size: var(--headercim);
  }
  #ps1szoveg{
    padding: 0;
    text-align: center;
  }
  .navbar-brand{
    font-size: 22px;
  }
  #navbarText, .nav-item, .nav-link{
    font-size: var(--navbarszoveg) !important;
  }
}
.nav-link{
    color: var(--oldalszin)  !important;
    animation: attunes 1s ease-in-out forwards;
    -webkit-animation: attunes 1s ease-in-out forwards;
}
@keyframes borderlent {
  0% {
    border-bottom: 0px var(--oldalszin) solid;

  }
  100% {
    border-bottom: 1px var(--oldalszin) solid;

  }
}
.nav-item:hover {
  animation: borderlent 0.5s ease-in-out forwards;
  -webkit-animation: borderlent 0.5s ease-in-out forwards;
}
.nav-item{
  color:var(--oldalszin) ;
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  -ms-transition: 0.6s !important;
  -o-transition: 0.6s !important;
}
.nav-link{
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  -ms-transition: 0.6s !important;
  -o-transition: 0.6s !important;
}
.navbar-brand{
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  -ms-transition: 0.6s !important;
  -o-transition: 0.6s !important;
}
.active a{
    color: var(--masodszin) !important;
    transition: 0.6s !important;
    -webkit-transition: 0.6s !important;
    -moz-transition: 0.6s !important;
    -ms-transition: 0.6s !important;
    -o-transition: 0.6s !important;
}
.row{
    max-width: 100% !important;
    margin: 0 auto !important
}
#playstationlogo{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#playstationlogo:hover{
    scale:1.020;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
#tartalom{
  color:var(--oldalszin) ;
  font-family: zrnic;
}
.size-22{
  font-weight: 200; font-size: 22px;

}
.arial{
  font-family: Arial, Helvetica, sans-serif;
}
hr{
  max-width: 500px;
  background-color: var(--hr);
}
#attuneses{
  position:absolute;
  display: block;
  top:0;
  left:0;
  height: 104vh;
  width: 100%;
  z-index: 0;

  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.996);
}
.bold{
  font-weight: 550;
  color:var(--bold-color);
}
footer{
  background-color: black;
  height: fit-content;
  max-width: 100%;
  box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.929);
}
.feher{
  color:#f3f3f3;
}
.fekete{
  color:black;
}
footer .row{
  margin:0 auto;
  
}
footer .row .col-md {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 991px){
  footer .row .col-md{
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
}
footer .col-md p{
  color:#bebcbc;
}
.scrollFade {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--hidden {
  opacity: 0;
  pointer-events: none;
}
.scrollFade--visible {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--animate {
  animation: fade-in 0.6s ease-in-out forwards;
  -webkit-animation: fade-in 0.6s ease-in-out forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translatey(100px);

    -webkit-transform: translatey(100px);
    -moz-transform: translatey(100px);
    -ms-transform: translatey(100px);
    -o-transform: translatey(100px);
}
  100% {
    opacity: 1;
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
    -moz-transform: translatey(0px);
    -ms-transform: translatey(0px);
    -o-transform: translatey(0px);
}
}

#tartalom{
  background-image: url('https://i.pinimg.com/originals/74/43/a3/7443a31b6a19e5630b94a6538ff9bdd1.gif');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
#ize{
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  -ms-transition: 0.6s !important;
  -o-transition: 0.6s !important;
  display: block;
  background: var(--harmadszin);
  height:fit-content;
  width: 100%;
  z-index: 0;
  backdrop-filter: blur(2px);
}
#tartalomszoveg{
  z-index:20;
  padding:15px;
  max-width: 1500;
  margin:0 auto;
  color: var(--sotetebbbetu) !important;
  padding-bottom:120px;
}
#tartalomrow{
  font-size: var(--szoveg);
  max-width: 1300px !important;
  border-radius: var(--border-radius) !important;
  -webkit-border-radius: var(--border-radius) !important;
  -moz-border-radius: var(--border-radius) !important;
  -ms-border-radius: var(--border-radius) !important;
  -o-border-radius: var(--border-radius) !important;

}
#tartalomhr{
  max-width: 1280px !important;
}
#kezdohr{
  max-width: 300px !important;
  height: 0.01px;
}

@media screen and (min-width: 765px) {
  #tartalomcol{
    border-radius: var(--border-radius) !important;
    background-color: var(--tartalomcol)!important;
    padding: 20px !important;
    margin:10px !important;
    -webkit-border-radius: var(--border-radius) !important;
    -moz-border-radius: var(--border-radius) !important;
    -ms-border-radius: var(--border-radius) !important;
    -o-border-radius: var(--border-radius) !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.114);
}
}
@media screen and (max-width: 765px) {
  #tartalomrow{
    background-color: var(--tartalomcol)!important;
    padding: 20px !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.114);
    margin-bottom:20px !important; 
    }
}
#eloszo{
  text-align: center;
}

a:hover{
  text-decoration: none !important;
}

footer ul li{
  text-align: left;
  display: inline-block;
  padding-left: 10px;
  margin:0 auto;
  padding-right: 10px;

}
footer ul{
  margin: 0 auto !important;
  padding-inline-start: 0px !important;
}
footer ul li a{
  color:#bebcbc !important;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;

}
footer ul li a:hover{
  color:#ececec !important;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#udvozoljuk{
  border-radius: var(--border-radius) !important;
  background: var(--negyedszin) !important;
  color: var(--oldalszin)  !important;
  max-width: 1280px;
  text-align: center;
  font-size: var(--cim);
  margin:0 auto !important;
  padding:10px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-weight: 500 !important;
  font-family: zrnic !important;
  -webkit-border-radius: var(--border-radius) !important;
  -moz-border-radius: var(--border-radius) !important;
  -ms-border-radius: var(--border-radius) !important;
  -o-border-radius: var(--border-radius) !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.114);
}

#mozgo-kep{
  transition: transform 0.4s ease-out;
  -webkit-transition: transform 0.4s ease-out;
  -moz-transition: transform 0.4s ease-out;
  -ms-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
}
#nav-link #temavalto{
  border:none !important;
}
#temavalto{
  height: 20px !important;
  width: 20px !important;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 666;
  cursor:pointer;
  border: none !important;
}
@media screen and (max-width: 991px) {
  .navbar-nav{
    float: none !important;
    width: 100% !important;
    text-align: center !important;
}
.dropdown-toggle{
  float: none !important;
  text-align: center;
}
nav{
  background-color: #1010100d !important;
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.167);
}
.nav-link{
  float: none !important;
  text-align: center;
}
}

@media screen and (min-width: 991px) {
  .img-fluid{
    max-width: 70% !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index:669 !important;
    min-width: 70% !important;
  }
}
.img-fluid{
  z-index:669 !important;
  display: inline;
  border-radius: var(--border-radius) !important;
  -webkit-border-radius: var(--border-radius) !important;
  -moz-border-radius: var(--border-radius) !important;
  -ms-border-radius: var(--border-radius) !important;
  -o-border-radius: var(--border-radius) !important;
}

#idezetes{
  max-width: 500px;
  margin:0 auto;
 
}
.img-fluid:hover{
  scale: 1.050;
  z-index:669 !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
.dropdown-menu{
  background-color: var(--harmadszin) !important;
  border-radius: var(--border-radius) !important;
  -webkit-border-radius: var(--border-radius) !important;
  -moz-border-radius: var(--border-radius) !important;
  -ms-border-radius: var(--border-radius) !important;
  -o-border-radius: var(--border-radius) !important;
  background-color: rgba(255, 255, 255, 0.875);
}
.dropdown-menu a{
  color: var(--oldalszin) !important;
  transition: 0.4s !important;
  -webkit-transition: 0.4s !important;
  -moz-transition: 0.4s !important;
  -ms-transition: 0.4s !important;
  -o-transition: 0.4s !important;
}
.dropdown-menu a:hover{
    color: var(--dropdownhovera);
    background-color: var(--dropdownhover);
    transition: 0.4s !important;
    -webkit-transition: 0.4s !important;
    -moz-transition: 0.4s !important;
    -ms-transition: 0.4s !important;
    -o-transition: 0.4s !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: var(--navburger);
}
.custom-toggler.navbar-toggler {
  border:none !important;
} 

#kapcsolat li{
  list-style-type: none;
  display:inline-block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 1;
}
#kapcsolat li img{
  width: 18px;
  height: auto;


}
#kapcsolat li:hover{
  opacity:0.80;
  transform: translateY(-3px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
#tamogataskep{
  width: auto; 
  height: 70px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#tamogataskep:hover{
  transform: translateY(-5px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.center{
  margin:0 auto !important ;
  text-align: center !important;

}
#pslogo:hover{
  animation:fordulas 2s ease-in-out infinite;
  -webkit-animation:fordulas 2s ease-in-out infinite;
}

@-moz-keyframes fordulas { 
100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes fordulas { 
100% { -webkit-transform: rotate(360deg); } 
}
@keyframes fordulas { 
100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
} 
}
#betolto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s;
  z-index: 1;
  width: 80px;
  height: 80px;
  border: 8px solid var(--betolto);
  border-radius: 50%;
  border-top: 8px solid var(--betoltoforgo);
  animation: spin 1s linear infinite;
  margin-top: -44px; /* Az elem magasságának felének negatív margin */
  margin-left: -44px; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#egesz {
  opacity:0;
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  -ms-transition: 0.6s !important;
  -o-transition: 0.6s !important;
}
.attunonav{
  transition: 0.5s;
  background: linear-gradient(to bottom, var(--navszin), rgba(0, 0, 0, 0));
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#egesz.aktiv {
  opacity:1;
  transition: 0.7s !important;
  -webkit-transition: 0.7s !important;
  -moz-transition: 0.7s !important;
  -ms-transition: 0.7s !important;
  -o-transition: 0.7s !important;
}
#betolto.eltunes{
  opacity:0;
  transition: 0.7s !important;
  -webkit-transition: 0.7s !important;
  -moz-transition: 0.7s !important;
  -ms-transition: 0.7s !important;
  -o-transition: 0.7s !important;
}

.kissebbkep{
  width: 50% !important;
  height: auto !important;
}
.dropdown-menu {
  display: block;
  opacity: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease-in;
}
.dropdown-menu.show {
  max-height: 500px;
  opacity: 1;
  padding: 0.5rem 0;
}

#cimsor{
  border-radius: var(--border-radius) !important;
  background: var(--negyedszin) !important;
  color: var(--oldalszin)  !important;
  max-width: 1280px;
  text-align: center;
  margin:0 auto !important;
  padding:10px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-weight: 500 !important;
  font-family: zrnic !important;
  -webkit-border-radius: var(--border-radius) !important;
  -moz-border-radius: var(--border-radius) !important;
  -ms-border-radius: var(--border-radius) !important;
  -o-border-radius: var(--border-radius) !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.114);
}

#kephatter{
  background-color: var(--negyedszin);
  padding-top:30px !important;
  padding-bottom: 30px !important;
  border-radius: var(--border-radius) !important;
  -webkit-border-radius: var(--border-radius) !important;
  -moz-border-radius: var(--border-radius) !important;
  -ms-border-radius: var(--border-radius) !important;
  -o-border-radius: var(--border-radius) !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
.scrollFade{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
#kephatter{
  
  .bold{
    color: var(--oldalszin) !important;
    background: var(--otodszin) !important;
    padding:8px;
    border-radius: var(--border-radius) !important;
    -webkit-border-radius: var(--border-radius) !important;
    -moz-border-radius: var(--border-radius) !important;
    -ms-border-radius: var(--border-radius) !important;
    -o-border-radius: var(--border-radius) !important;

}
}
#kephatter img{
 
    margin-bottom: 20px !important;
    display: inline-block !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  
}
#visszaatetejehez{
  border-radius: var(--border-radius) !important;
  background: var(--visszaatetejehez) !important;
  color: var(--oldalszin)  !important;
  min-width: 100% !important;
  text-align: center;
  margin:0 auto !important;
  padding:10px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-weight: 500 !important;
  font-family: zrnic !important;
  -webkit-border-radius: var(--border-radius) !important;
  -moz-border-radius: var(--border-radius) !important;
  -ms-border-radius: var(--border-radius) !important;
  -o-border-radius: var(--border-radius) !important;
  border:none !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.114);
  transition: 0.5s !important;
  -webkit-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  -ms-transition: 0.5s !important;
  -o-transition: 0.5s !important;
}
#visszaatetejehez:hover{
  background: var(--visszaatetejehezhover) !important;
  transition: 0.5s !important;
  -webkit-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  -ms-transition: 0.5s !important;
  -o-transition: 0.5s !important;
}

#also{
  margin-bottom: 0px !important;
  font-size: var(--footerszoveg);
}
#also ul li img{
  cursor:pointer !important;
}
.dropdown-menu .active{
  background-color: #62626255 !important;
}