@font-face {
    font-family: psbetu;
    src: url(../fonts/psbetu.ttf);
}
@font-face {
 

  font-family: zrnic;
    src: url(../fonts/Zrnic.ttf);
}
html{
  scroll-behavior: smooth;
  
}
*{

    box-sizing: border-box;
}

body{
  background-color: var(--harmadszin);
}

:root{
  --oldalszin: white ;
  --masodszin: rgb(202, 202, 202) ;
  --harmadszin: rgba(0, 0, 0, 0.927) ;
  --negyedszin: rgb(40, 40, 40) ;
  --gorgeto1: #3d3d3d ;
  --gorgeto2: #7c7c7c ;
  --gorgeto3: #626262 ;
  --hatter: url('../images/kekhatter.png');
  --hr: rgb(220, 220, 220);
  --navburger: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.875)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  --tartalomcol: #0000005c;
}
.vilagos-tema{
  --oldalszin: rgb(0, 0, 0) !important;
  --masodszin: rgb(54, 54, 54) !important;
  --harmadszin: rgba(228, 228, 228, 0.792) !important;
  --negyedszin: rgb(227, 227, 227) !important;
  --gorgeto1: #ffffff !important;
  --gorgeto2: #7c7c7c !important;
  --gorgeto3: #626262 !important;
  --hatter: url('../images/feherhatter.png');
  --navburger: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.951)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

  --hr: rgb(49, 49, 49);
  --tartalomcol: #ffffff5c;
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  -ms-transition: 0.6s !important;
  -o-transition: 0.6s !important;
}

body{
    margin:0 !important;
    padding:0 !important;
color:var(--oldalszin) !important;

}
  
#header{
   
    background-image: var(--hatter);
    height: 104vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

  
  #image {
    max-width: 105% !important;
    max-height: 105% !important;
    position: absolute;
    top: 47%;
    transition: transform 0.2s ease-out;
    opacity: 0;
    animation: slide-in 2.2s ease-in-out forwards, nagyitas 6s ease-in-out infinite;
    -webkit-animation: slide-in 2.2s ease-in-out forwards, nagyitas 6s ease-in-out infinite;
   
}


#image1 {
    max-width: 100% !important;
    max-height: 100% !important;
    position: absolute;
    top: 45%;
    transition: transform 0.2s ease-out;
    opacity: 0;
    animation: slide-in 2.0s ease-in-out forwards, lebeges 6s ease-in-out infinite;
    -webkit-animation: slide-in 2.0s ease-in-out forwards, lebeges 6s ease-in-out infinite;
}
#valami{
  background-image: url('https://assets.stickpng.com/images/5a4e432a2da5ad73df7efe7a.png');
}
@keyframes nagyitas {
	0% {
    scale: 1.0;
    transform: translatex(0px);
    -webkit-transform: translatex(0px);
    -moz-transform: translatex(0px);
    -ms-transform: translatex(0px);
    -o-transform: translatex(0px);
}
	50% {
  transform: translatex(5px);
  scale: 1.040;
  -webkit-transform: translatex(5px);
  -moz-transform: translatex(5px);
  -ms-transform: translatex(5px);
  -o-transform: translatex(5px);
}
  100%{
    scale: 1.0;
    transform: translatex(0px);
    -webkit-transform: translatex(0px);
    -moz-transform: translatex(0px);
    -ms-transform: translatex(0px);
    -o-transform: translatex(0px);
}
}
@keyframes lebeges {
	0% {
	
		transform: translatey(0px);
	}
	50% {

		transform: translatey(-15px);
		-webkit-transform: translatey(-15px);
		-moz-transform: translatey(-15px);
		-ms-transform: translatey(-15px);
		-o-transform: translatey(-15px);
}
	100% {
	
		transform: translatey(0px);
	}
}
  @keyframes attunes {
    0% {

        opacity: 0;
      }
      
      100% {
        opacity: 1;
      }
  }
  @keyframes slide-in {
    0% {
      left: -150px;
      opacity: 0;
    }
    100% {
    margin-left: 30px;
      left: 0;
      opacity: 1;
    }
  }
  nav{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent !important;
    z-index: 666;
  }

  /* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--gorgeto1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gorgeto2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--gorgeto3);
  }
  #tartalom{
    background-color: white;
  }
  #ps1szoveg p{
    font-family: zrnic;
  }
  #ps1szoveg{
    text-align: center;
    margin-top: 30vh;
    font-size: 1.9vw;
    font-weight: 660;
    animation: attunes 1.2s ease-in-out forwards;
    -webkit-animation: attunes 1.2s ease-in-out forwards;
}
#ps1szoveg span{
    display: inline-block !important;
    font-size: 1.3vw;
    font-weight: 300;
    margin-bottom: 10px;
    font-style: italic;
}
  #gomb{
    z-index: 500;
    transition: 0.4s all;
    background-color: black;
    color:white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 1.1vw;
    border:none;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.462);
    animation: attunes 1.4s ease-in-out forwards;
    -webkit-animation: attunes 1.4s ease-in-out forwards;
}
#gomb:hover{
    transition: 0.4s all;
    background-color: rgb(117, 117, 117);
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 17.5px;
    padding-right: 17.5px;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}

.navbar-brand{
    font-weight: 700;
    font-size: 1.7vw;
    font-family:
     psbetu;
    color:var(--oldalszin)  !important;
    animation: attunes 1s ease-in-out forwards;
    -webkit-animation: attunes 1s ease-in-out forwards;
}
.navbar-brand img{
    margin-right: 5px;
    animation: attunes 1s ease-in-out forwards;
    -webkit-animation: attunes 1s ease-in-out forwards;
}
.navbar-nav{
    float:right !important;
    text-align: right !important;
 
}
#navbarText{
    font-size: 1.15vw;
    font-weight: 600;

}
@media screen and (max-width: 1160px) {
  #gomb{
    font-size: 15px;
  }
  #ps1szoveg span{
    font-size: 18px;
    max-width: 300px;
  }
  #ps1szoveg p{
    font-size: 22px;
  }
  #ps1szoveg{
    padding: 0;
    text-align: center;
  }
  .navbar-brand{
    font-size: 22px;
  }
  #navbarText, .nav-item, .nav-link{
    font-size:22px !important;
  }
}
.nav-link{
    color: var(--oldalszin)  !important;
    animation: attunes 1s ease-in-out forwards;
    -webkit-animation: attunes 1s ease-in-out forwards;
}
@keyframes borderlent {
  0% {
    border-bottom: 0px var(--oldalszin) solid;

  }
  100% {
    border-bottom: 1px var(--oldalszin) solid;

  }
}
.nav-item:hover {
  animation: borderlent 0.5s ease-in-out forwards;
  -webkit-animation: borderlent 0.5s ease-in-out forwards;
}
.nav-item{
  color:var(--oldalszin) ;
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  -ms-transition: 0.6s !important;
  -o-transition: 0.6s !important;
}
.nav-link{
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  -ms-transition: 0.6s !important;
  -o-transition: 0.6s !important;
}
.navbar-brand{
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  -ms-transition: 0.6s !important;
  -o-transition: 0.6s !important;
}
.active a{
    color: var(--masodszin) !important;
    transition: 0.6s !important;
    -webkit-transition: 0.6s !important;
    -moz-transition: 0.6s !important;
    -ms-transition: 0.6s !important;
    -o-transition: 0.6s !important;
}
.row{
    max-width: 100% !important;
    margin: 0 auto !important
}
#playstationlogo{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#playstationlogo:hover{
    scale:1.020;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
#tartalom{
  color:var(--oldalszin) ;
  font-family: zrnic;
}
.size-22{
  font-weight: 200; font-size: 22px;

}
.arial{
  font-family: Arial, Helvetica, sans-serif;
}
hr{
  max-width: 500px;
  background-color: var(--hr);
}
#attuneses{
  position:absolute;
  display: block;
  top:0;
  left:0;
  height: 104vh;
  width: 100%;
  z-index: 0;

  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.996);
}
.bold{
  font-weight: 550;
}
footer{
  background-color: black;
  height: fit-content;
  max-width: 100%;
  box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.929);
}
.feher{
  color:white;
}
.fekete{
  color:black;
}
footer .row{
  margin:0 auto;
  
}
footer .row .col-md {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 991px){
  footer .row .col-md{
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
}
footer .col-md p{
  color:#bebcbc;
}
.scrollFade {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--hidden {
  opacity: 0;
  pointer-events: none;
}
.scrollFade--visible {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--animate {
  animation: fade-in 0.6s ease-in-out forwards;
  -webkit-animation: fade-in 0.6s ease-in-out forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translatey(100px);

    -webkit-transform: translatey(100px);
    -moz-transform: translatey(100px);
    -ms-transform: translatey(100px);
    -o-transform: translatey(100px);
}
  100% {
    opacity: 1;
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
    -moz-transform: translatey(0px);
    -ms-transform: translatey(0px);
    -o-transform: translatey(0px);
}
}

#tartalom{
  background-image: url('https://i.pinimg.com/originals/74/43/a3/7443a31b6a19e5630b94a6538ff9bdd1.gif');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
#ize{
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  -ms-transition: 0.6s !important;
  -o-transition: 0.6s !important;
  display: block;
  background: var(--harmadszin);
  height:fit-content;
  width: 100%;
  z-index: 0;
  backdrop-filter: blur(2px);
}
#tartalomszoveg{
  z-index:699;
  padding:15px;
  max-width: 1500;
  margin:0 auto;

  padding-bottom:120px;
}
#tartalomrow{
  max-width: 1300px !important;
}
@media screen and (min-width: 765px) {
  #tartalomcol{
  background-color: var(--tartalomcol)!important;
  padding: 20px !important;
  margin:10px !important;
  }
}
#eloszo{
  text-align: center;
}

a:hover{
  text-decoration: none !important;
}

footer ul li{
  text-align: left;
  display: inline-block;
  padding-left: 10px;
  margin:0 auto;
  padding-right: 10px;

}
footer ul{
  margin: 0 auto !important;
  padding-inline-start: 0px !important;
}
footer ul li a{
  color:#bebcbc !important;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;

}
footer ul li a:hover{
  color:#ececec !important;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#udvozoljuk{
  background: var(--negyedszin) !important;
  color: var(--oldalszin)  !important;
  width: fit-content !important;
  margin:0 auto !important;
  padding:5px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-weight: 500 !important;
 font-family: zrnic !important;
}

#mozgo-kep{
  transition: transform 0.4s ease-out;
  -webkit-transition: transform 0.4s ease-out;
  -moz-transition: transform 0.4s ease-out;
  -ms-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
}
#nav-link #temavalto{
  border:none !important;
}
#temavalto{
  height: 20px !important;
  width: 20px !important;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 666;
  cursor:pointer;
  border: none !important;
}
@media screen and (max-width: 991px) {
  .navbar-nav{
    float: none !important;
    width: 100% !important;
    text-align: center !important;
}
.dropdown-toggle{
  float: none !important;
  text-align: center;
}
nav{
  background-color: #1010100d !important;
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.167);
}
.nav-link{
  float: none !important;
  text-align: center;
}
}

@media screen and (min-width: 991px) {
  .img-fluid{
    max-width: 60% !important;
  }
}
#idezetes{
  max-width: 500px;
  margin:0 auto;
 
}

.dropdown-menu{
  background-color: var(--harmadszin) !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.875);
}
.dropdown-menu a{
  color: var(--oldalszin) !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: var(--navburger);
}
.custom-toggler.navbar-toggler {
  border:none !important;
} 

#kapcsolat li{
  list-style-type: none;
  display:inline-block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 1;
}
#kapcsolat li img{
  width: 18px;
  height: auto;


}
#kapcsolat li:hover{
  opacity:0.80;
  transform: translateY(-3px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
#tamogataskep{
  width: auto; 
  height: 70px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#tamogataskep:hover{
  transform: translateY(-5px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}